.sub-nav {
  display: grid;
  gap: 16px;

  padding: 20px;
  border-radius: 16px;
  background-color: var(--sub-nav-bg);

  color: var(--header-text-color);
  font-size: 16px;
}

.sub-nav__item {

}

.sub-nav__link {
  color: var(--header-text-color);

  transition: color 0.1s ease-in;
  &:hover {
    color: var(--accent);
  }
}
